.card {
    border-radius: 15px;
    background-color: rgb(223, 221, 221);
    padding: 1em;
}

.card-header {

}

.card-content {

}

button {
    border-radius: 5px;
    border: 1px solid;
}

.edit-button {
    background-color:rgb(255, 196, 0);
}
.delete-button {
    background-color:red;
    color: whitesmoke;
}